<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/basic">
<head>
    <title th:text="${pageTitle}"></title>
    <meta http-equiv=" Content-Type" content="text/html; charset=UTF-8" />
    
</head>
<body layout:fragment="content">
	<h1>Groups</h1>
	<!-- <form th:action="@{|/user/search|}" method="POST">
	   <input class="form-group" id="search-bar" type="text" placeholder="Search..." name="search" th:value="${search}"/>
	   <input class="btn btn-custom" type="submit" th:value="Search"/>
	</form>  -->
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Group Name</th>
				<th>Meeting Day</th>
				<th />
			</tr>
		</thead>
		<tbody>
			<tr th:each="group : ${groups}">
				<td th:text="${group.groupName}"></td>
				<td th:text="${group.meetingDay}"></td>
				<td><a href="/" th:href="@{|/group/${group.id}/groupmembers|}"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
			</tr>
		</tbody>
	</table>
	<!-- <a class="btn btn-custom" th:href="@{|/user/create|}">Create User</a> -->
</body>
</html>