<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/basic">
<head>
    <title>User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body layout:fragment="content">
	<h1>User</h1>
	<img id="avatar" src="" th:if="${userImage}" th:src="${userImage.htmlSrc}" alt="Profile Image" title="Profile Image"/>
	<ul th:object="${user}">
		<li th:text="*{firstName}"></li>
		<li th:text="*{lastName}"></li>
		<li th:text="*{email}"></li>
		<li th:text="*{phoneNumber}"></li>
		<li th:if="${permissions.canEditUser(user.id)}"><a href="/" th:href="@{|/user/${user.id}/edit|}">Edit</a></li>
	</ul>
	<a href="/">Back</a>
</body>
</html>